<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home Page</title>
<meta name="viewport" content="width=device- 
width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
  <div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#exercise of the day">Exercise of the day</a>
  <a href="#motivation">Motivation</a>
  <a href="#workouts">Workouts</a>
  <a href="#notes">Notes</a>
  <a href="#login">Login</a>
</div>
  <div class="bgimg">
    <div class="caption">
      <span class="border">YOUR PREMIER 24HOUR GYM BUDDY</span>
    </div>
  </div>

<script src=""></script>
</body>
</html>