<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join Now</title>
</head>
<body>
  <h1>YOUR PERSONAL GYM BUDDY</h1>
  <p>Create an account and get after it</p>
  <form action="">
    <input type="text" placeholder="Enter email here" name="email">
    <input type="text" placeholder="Name" name="name">
  <button>Submit!</button>
  <div class="side-img">
  </div>
  
</body>
</html>