from sqlalchemy.exc import IntegrityError
from models import db, connect_db, User
from forms import UserAddForm, LoginForm
from secrets_1 import API_CLIENT_ID, API_SECRET_KEY
from datetime import datetime, timedelta



<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#exercise of the day">Exercise of the day</a>
  <a href="#motivation">Motivation</a>
  <a href="#workouts">Workouts</a>
  <a href="#notes">Notes</a>
  <a href="#login">Login</a>
</div>
-----------------------------------------
add to app.py

to the top
from sqlalchemy.exc import IntegrityError
from models import db, connect_db, User
from forms import UserAddForm, LoginForm
from secrets_1 import API_CLIENT_ID, API_SECRET_KEY
from datetime import datetime, timedelta

under import request and import os
CURR_USER_KEY=""
AUTH_BASE_URL = ""
API_SEARCH_BASE_URL = ""



------------------------------------------
GET: requests data from a server. 
This is the most common type of request. 
Using it we can get the data we are interested 
in from those that the API is ready to share.

POST: adds new data to the server. Using this 
type of request, you can, for example, add a 
new contact to CRM.

PUT: changes existing information. For example, using this type of request, it would be possible to change the color or value of an existing product.

DELETE: deletes existing information
How to start using an API?


Get an API Key

Test API Endpoints
Create your first App


---------------------------------------------
my version of a form

{% extends 'base.html' %}
{% block content %}

  <h1>YOUR PERSONAL GYM BUDDY</h1>
  <p>Create an account and get after it</p>
  <form action="">
    <input type="text" placeholder="Enter email here" name="email">
    <input type="text" placeholder="Name" name="name">
  <button>Submit!</button>
  <div class="side-img">
  </div>
  
</body>
</html>

{% endblock %}


---------------------------------------------------------
    

    